{% extends 'base.html' %}
{% block title %}ПОИСК В БД{% endblock %}
{% block content %}
    <main class="container">
        <form name="search" class="form_1" method="GET">
             <input type="search" name="id_animals" list="team_list">
                <datalist id="team_list">
                    {% for top in sa %}
                    <option value="{{ top }}">{{ top }}</option>
                    {% endfor %}
                </datalist>
            <p class="search__results"> </p>
            {% for s in sk %}
            <a href="/patient/{{s.id}}"><p class="search__results">Профиль: {{s.id}}</p></a>
            <div class="form_1">
                <span class="item__username"> Вид животного: {{s.type}}</span>
                <p class="item__descr">ИМЯ(Кличка): {{s.name}}</p>
            </div>
            <div class="item__descr">
                <p class="item__descr">ПОРОДА: {{s.breed}}</p>
                <p class="item__descr">ОКРАСКА: {{s.color_1}} - {{s.color_2}}</p>
                <p class="item__descr">Дата рождения: {{s.birth}}</p>
            </div>
            {% endfor %}
        </form>
    </main>
 {% endblock %}
{% block ending %}
        <div class="container">
          <div class="form_1">
              <p>НАЧАЛО РАБОТЫ С SQL</p>
          </div>
        </div>
{% endblock %}